@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MICE Gothic';
  src: url('/fonts/MICEGothic.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MICE Gothic';
  src: url('/fonts/MICEGothic Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Freesentation-9Black';
  src: url('/fonts/Freesentation-9Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ELAND_Choice_M';
  src: url('/fonts/ELAND_Choice_M.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hakgyoansim';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimAllimjangTTF-R.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hakgyoansim';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimAllimjangTTF-B.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.footer {
  font-family: 'Freesentation-9Black';
}

body {
  font-family: 'MICE Gothic', 'NanumSquare', sans-serif;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s infinite;
}

.nav {
  transition: top 0.3s ease-in-out;
  position: fixed;
  top: 0;
  width: 100%;
}

html, body {
  font-family: 'Freesentation-9Black';
}