@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'NanumSquare';
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.blink {
  animation: blink 1s infinite;
}

.nav {
  transition: top 0.3s ease-in-out;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}